HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/
/library-web-ui/src/main/webapp/node/node_modules/npm/
/library-web-ui/src/main/webapp/node/node.exe
/library-web-ui/src/main/webapp/node/npm
/library-web-ui/src/main/webapp/node/npm.cmd
