<div class="ordersView">

  <div class="splitComponent">

    <div class="splitPart1">

      <cdk-virtual-scroll-viewport class="cdkContainer" itemSize="10">

        <mat-nav-list *cdkVirtualFor="let bo of borrowOrders" role="list">
          <a [routerLink]="['/library/userpanel/ordersview', bo.id]" mat-list-item>
            <mat-icon matListIcon>import_contacts</mat-icon>
            <h3 matLine>{{bo.book.title}}</h3>
            <p *ngIf="!isAdmin" matLine>by {{bo.book.author}}</p>
            <p *ngIf="isAdmin" matLine>borrowed by {{bo.user.username}}</p>
          </a>
          <mat-divider></mat-divider>
        </mat-nav-list>

      </cdk-virtual-scroll-viewport>

    </div>

    <div class="splitPart2">
      <router-outlet></router-outlet>
    </div>

  </div>

  <div class="splitComponent" style="margin-top: 20px;">

    <div class="splitPart3">

      <div *ngIf="isAdmin" class="searchComponent">

        <form (ngSubmit)="onSubmitByUserId()" [formGroup]="searchByUserId">

          <div class="searchContainer">

            <mat-form-field hintLabel="Min 1 character">
              <input #input formControlName="userId" id="userId" matInput minlength="1"
                     placeholder="Enter the user id">
              <mat-hint align="end">{{input.value?.length || 0}}/1</mat-hint>
              <mat-error *ngIf="input.value?.length < 1">User id min length required = 1</mat-error>
            </mat-form-field>

            <button [disabled]="searchByUserId.invalid" mat-raised-button type="submit">Search by user id
            </button>

          </div>

        </form>

      </div>

      <div *ngIf="isAdmin" class="searchComponent">

        <form (ngSubmit)="onSubmitByBookId()" [formGroup]="searchByBookId">

          <div class="searchContainer">

            <mat-form-field hintLabel="Min 1 character">
              <input #input formControlName="bookId" id="bookId" matInput minlength="1"
                     placeholder="Enter the book id">
              <mat-hint align="end">{{input.value?.length || 0}}/1</mat-hint>
              <mat-error *ngIf="input.value?.length < 1">Book id min length required = 1</mat-error>
            </mat-form-field>

            <button [disabled]="searchByBookId.invalid" mat-raised-button type="submit">Search book id
            </button>

          </div>
        </form>

      </div>

    </div>

    <div class="splitPart4">

      <div *ngIf="isAdmin" class="searchComponent">

        <form (ngSubmit)="onSubmitByOrderId()" [formGroup]="searchByOrderId">

          <div class="searchContainer">

            <mat-form-field hintLabel="Min 1 character">
              <input #input formControlName="orderId" id="orderId" matInput minlength="1"
                     placeholder="Enter the order id">
              <mat-hint align="end">{{input.value?.length || 0}}/1</mat-hint>
              <mat-error *ngIf="input.value?.length < 1">Order id min length required = 1</mat-error>
            </mat-form-field>

            <button [disabled]="searchByOrderId.invalid" mat-raised-button type="submit">Search by order
              id
            </button>

          </div>

        </form>

      </div>

    </div>

  </div>

</div>
