<div style="text-align: center; display: inline-block;">

  <h2 mat-mat-dialog-title>System info</h2>

  <mat-dialog-content>
    <span style="font-size: 18px;">User/Book updated successfully!</span><br><br>
    <mat-icon style="color: green; font-size: 50px; display: inline;">done_outline</mat-icon>
  </mat-dialog-content>

  <mat-dialog-actions style="display: inline-block;">
    <button mat-dialog-close mat-dialog-close="true" mat-raised-button>Continue</button>
  </mat-dialog-actions>

</div>
