<div id="updateComponent">

  <form (ngSubmit)="onSubmit()" [formGroup]="updateForm">

    <div id="update-container">

      <mat-form-field hintLabel="Min 4 characters">
        <input #input formControlName="firstName" id="firstName" matInput minlength="4"
               placeholder="Enter first name">
        <mat-hint align="end">{{input.value?.length || 0}}/4</mat-hint>
        <mat-error *ngIf="input.value?.length < 4">First name min length required = 4</mat-error>
      </mat-form-field>
      <br>

      <mat-form-field hintLabel="Min 4 characters">
        <input #input formControlName="lastName" id="lastName" matInput minlength="4"
               placeholder="Enter last name">
        <mat-hint align="end">{{input.value?.length || 0}}/4</mat-hint>
        <mat-error *ngIf="input.value?.length < 4">Last name min length required = 4</mat-error>
      </mat-form-field>
      <br>

      <mat-form-field hintLabel="Min 4 characters">
        <input #input formControlName="username" id="username" matInput minlength="4"
               placeholder="Enter usernname">
        <mat-hint align="end" for="username">{{input.value?.length || 0}}/4</mat-hint>
        <mat-error *ngIf="input.value?.length < 4">Username min length required = 4</mat-error>
      </mat-form-field>
      <br>

      <mat-form-field hintLabel="Min 4 characters">
        <input #input [type]="'password'" formControlName="password" id="password" matInput minlength="4"
               placeholder="Enter password">
        <mat-hint align="end">{{input.value?.length || 0}}/4</mat-hint>
        <mat-error *ngIf="input.value?.length < 4">Password min length required = 4</mat-error>
      </mat-form-field>
      <br><br>

      <button [disabled]="updateForm.invalid" mat-raised-button type="submit">Update user details</button>
      <button mat-raised-button type="reset">Reset</button>

    </div>

  </form>

</div>
